.table_tools {
  @include clearfix;
  margin-bottom: 16px;
}

.table_tools .dropdown_menu {
  float: left;
}

a.table_tools_button, .table_tools .dropdown_menu_button {
  @include light-button;
  background: #F2F2F2;
  border-color: #d2d2d2;
  font-size: 0.9em;
  padding: 4px 14px 4px;
  margin: 0;

  &:not(.disabled) {
    &:hover {
      background: #FFFFFF;
    }

    &:active {
      @include border-colors(#d7d7d7, #c8c8c8, #c3c3c3);
      box-shadow: 0 1px 1px 0 rgba(0,0,0,0.17) inset;
    }
  }
}

.table_tools_segmented_control {
  list-style-type: none;
  padding: 0;
  margin: 0;

  li {
    float: left;
    margin-right: 5px;

    a {
      border-width: 1px;
      border-radius: 2px;
    }

    &.selected a {
      box-shadow: 0 1px 1px 0 rgba(0,0,0,0.1) inset;
      background: #ffffff;
      cursor: default;

      &:hover {
        background: #ffffff;
      }
    }

  }
}
