@mixin basic-button {
  @include rounded(2px);
  display: inline-block;
  font-size: 1.0em;
  @include sans-family;
  line-height: 12px;
  margin-right: 3px;
  padding: 7px 16px 6px;
  text-decoration: none;

  &.disabled {
    opacity: 0.5;
    cursor: default;
  }

}

@mixin default-button {
  @include basic-button;
  background: lighten($primary-color, 15%);
  border: solid 1px #484e53;
  color: #ffffff;

  &:not(.disabled) {
    &:hover{
      background: lighten($primary-color, 18%);
    }

    &:active {
      box-shadow: 0 1px 3px rgba(0,0,0,0.40) inset, 0 1px 0 0px #FFF;
      background: lighten($primary-color, 17%);
    }
  }
}

@mixin light-button {
  @include basic-button;
  background: #F2F2F2;
  border: solid 1px #c7c7c7;
  color: $primary-color;

  &:not(.disabled) {
    &:hover {
      background: #F9F9F9;
    }

    &:active {
      box-shadow: 0 1px 2px rgba(0,0,0,0.22) inset, 0 1px 0 0px #EEE;
      @include border-colors(#c2c2c2, #b9b9b9, #b7b7b7);
      background: #FFFFFF;
    }
  }

}

@mixin dark-button {
  @include default-button;
}
